.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Left Mid Right"
    "Left Mid Right"
    "Bottom Bottom Bottom";
}

.Bottom { grid-area: Bottom; }

.Left { grid-area: Left; }

.Mid { grid-area: Mid; }

.Right { grid-area: Right; }
