.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "Left Mid Mid Right"
    "Left Mid Mid Right"
    "Left Mid Mid Right"
    "Bottom Bottom Bottom Bottom";
}

.Left {
  grid-area: Left;
}

.Mid {
  grid-area: Mid;
}

.Right {
  grid-area: Right;
}

.Bottom {
  grid-area: Bottom;
  padding: 1em;
}
